# Python
__pycache__/
*.pyc
*.pyo
*.pyd

#Package
package-lock.json
package.json

#Ignorar a pasta node_modules
node_modules/

#ignorar o arquivo DB.json
DB/DB.json

# Ambiente virtual
venv/
env/

# Configurações do IDE
.idea/
.vscode/

# Arquivos de log
*.log

# Arquivos temporários
*~
.DS_Store
Thumbs.db

# Cache
.pytest_cache/

# Arquivos de backup
*.bak
*.tmp
